# Generals
.DS_Store
.idea

# Builds
sample-grpc
sample-grpc-*

# Sockets
*.sock

# Deps
vendor/**

# PKI
*.crt
*.csr
*.pem
*.key

# protobuf / RPC
*.swagger.json
*.pb.go
proto/*_test.go
proto/service.desc

# Temp files
tmp